.sidebar_Main {
    background: #FFFFFF !important;
    height: 100% !important;

    .sidebar_Logo {
        display: flex;
        align-items: center;

        .leftArrow {
            margin-left: 40px;
            position: relative;
            margin-top: 24px;
        }

        .logo {
            margin-top: 15px;
            margin-left: 15px;
        }
    }
}

.sidebar_MenuItem {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-left: 32px;
    // gap: 14px;
    &:nth-child(5) {
        background: #e5f2f1;
        mix-blend-mode: normal;
        width: 228px;
        height:40px;
        margin-left: 17px !important;
        border-radius: 6px;
        .menu_Title{
            height: 23px;
            top: calc(50% - 23px/2);
            font-family: $theme-font;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 23px;
            color: #5EADA8;
            margin-left: 14px;
        }
        .menu_Prepend{
            margin-left:15px !important;
        }
        .menu_Append{
            margin-left: 76px;
        }
    }
    &:nth-child(4){
        .menu_Append{
            margin-left: 54px !important;
        }
    }
    &:nth-child(6), &:nth-child(7){
        margin-top: 16px !important;
        .menu_Prepend{
            margin-left: 9px;
        }
    }
    

    .menu_Title {
        height: 23px;
        left: 16%;
        right: 51.5%;
        top: calc(50% - 23px/2);
        font-family: $theme-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #697A8D;
        margin-left: 14px;
    }
    .menu_Append{
        margin-left: 90px;
    }
}