// elastic UI CSS
.css-7wvw9o-euiPageInner-panelled-left{
    box-shadow: none !important;
    border: none !important;
}
.css-10vmxdx-euiPageSection-grow-l-top-plain{
    background-color: $theme-bgColor !important;
    min-height: 100% !important;

}
.css-1asjec2-euiPageSection__content-l-restrictWidth {
    inline-size: 0 !important; 
    width: 1128px !important;
    padding-block: 0 !important;
    margin-inline: 0 !important;
    margin-top: 16px;
    margin-left: 26px;
    height: 100%;
    
}

.leftSide_headingBox {
    width: 743px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.dashbordBody_flex{
    display: flex;
    gap: 27px;
}
