// elastic UI CSS
.css-7wvw9o-euiPageInner-panelled-left{
    box-shadow: none !important;
    border: none !important;
}
header{
    background-color: #f5f5f5 !important;
    box-shadow: none !important;
    border: none !important;
}
section{
    background-color: #f5f5f5 !important;
    box-shadow: none !important;
    border: none !important;
}
