// elastic UI CSS
.css-7wvw9o-euiPageInner-panelled-left{
    box-shadow: none !important;
    border: none !important;
}
.css-10vmxdx-euiPageSection-grow-l-top-plain{
    background-color: $theme-bgColor !important;
}
.css-1asjec2-euiPageSection__content-l-restrictWidth {
    inline-size: 0 !important; 
    width: 1128px !important;
    padding-block: 0 !important;
    margin-inline: 0 !important;
    margin-top: 16px;
    margin-left: 26px;
    height: 62px;
}
