@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

$theme-bgColor: #f5f5f5;
$theme-secondaryBgColor: #ffffff;
$theme-primaryColor: #5EADA8;
$theme-secondaryColor:#4A4A4A;
$theme-menuColor:#697A8D;
$theme-border: #eceef1;
$theme-headingColor:#566A7F;
$theme-placeHolderColor:#A1ACB8;
$theme-primary-categoryColor: #F07F0D;
$theme-secondary-categoryColor: #2F61AC;
$theme-font : 'Public Sans', sans-serif;